In [15]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from pandas import read_csv
import pyodbc
from sqlalchemy import create_engine,text
from bokeh.plotting import figure
from bokeh.embed import file_html
from bokeh.plotting import figure,output_file,save, show
from bokeh.models import HoverTool
from bokeh.layouts import column, row
from bokeh.models import Spinner

In [2]:
data = read_csv("2021-all-meter.csv",index_col=0)

In [3]:
data.head()

,AMI Meter ID,date,16335457,18762999,230156289,56068032,56073008,56210792,56464971,66675284,...,98828750,98923621,98923641,98923648,98923655,98923661,98923662,98923663,Residential,Total
0,2021-03-21 00:00:00,2021-03-21 00:30:00,104.192,28.649,46.68,13.104,9.195,373.44,19.656,5.491,...,20.640,0.324,15.228,16.212,47.430,51.60,16.35,21.624,67808.216,71482.267
1,2021-03-21 00:30:00,2021-03-21 01:00:00,104.848,28.578,51.60,15.728,9.810,373.44,20.640,6.278,...,21.624,0.324,14.736,15.228,39.198,46.68,16.35,17.688,67808.216,71395.502
2,2021-03-21 01:00:00,2021-03-21 01:30:00,106.160,29.929,55.29,14.416,8.580,375.96,19.656,7.853,...,9.338,0.160,15.228,14.244,40.976,44.22,14.30,18.180,68586.253,72266.724
3,2021-03-21 01:30:00,2021-03-21 02:00:00,104.192,29.488,50.37,16.384,11.040,378.36,18.672,6.278,...,9.418,0.324,14.736,14.244,42.165,44.22,16.35,16.704,68586.253,72069.140
4,2021-03-21 02:00:00,2021-03-21 02:30:00,104.192,28.645,52.83,15.728,12.270,375.96,20.640,4.704,...,8.928,0.324,15.228,16.212,50.782,46.68,18.40,18.180,71152.560,74632.641

In [16]:
ar = []
for i in range(0,data.shape[0],1):
    for c in data.select_dtypes(include=np.number).columns:
        ar.append([c,data.iloc[[i]]["AMI Meter ID"].values[0], data.iloc[[i]]["date"].values[0], int(data.iloc[[i]][c].values)])

SQLData = pd.DataFrame(ar)

In [17]:
SQLData.rename(columns = {0:"meter_name", 1:"start_time",2:"end_time", 3:"value"}, inplace = True)

In [18]:
SQLData.head()

  meter_name           start_time             end_time  value
0   16335457  2021-03-21 00:00:00  2021-03-21 00:30:00    104
1   18762999  2021-03-21 00:00:00  2021-03-21 00:30:00     28
2  230156289  2021-03-21 00:00:00  2021-03-21 00:30:00     46
3   56068032  2021-03-21 00:00:00  2021-03-21 00:30:00     13
4   56073008  2021-03-21 00:00:00  2021-03-21 00:30:00      9

In [19]:
SQLData.shape

(445200, 4)

In [4]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD


# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'NewPassword'
host = '127.0.0.1'
port = 3306
database = 'demand_response_portal'

# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="mysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )

#pyodbc.
#if __name__ == '__main__':
engine = []

# GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
engine = get_connection()
conn = engine.connect()

In [ ]:
SQLData.to_sql('meter_data', con=engine, if_exists='replace')

In [5]:
query = text("select meter_data.value as power, meter_data.start_time as start from meter_data where meter_data.meter_name = 'Total'")
GetSQLTest = pd.read_sql_query(query,conn)

In [6]:
display(GetSQLTest)
print(GetSQLTest["power"].values)

      power                start
0     71482  2021-03-21 00:00:00
1     71395  2021-03-21 00:30:00
2     72266  2021-03-21 01:00:00
3     72069  2021-03-21 01:30:00
4     74632  2021-03-21 02:00:00
...     ...                  ...
8395  76780  2021-09-27 21:30:00
8396  65924  2021-09-27 22:00:00
8397  65741  2021-09-27 22:30:00
8398  54984  2021-09-27 23:00:00
8399  55102  2021-09-27 23:30:00

[8400 rows x 2 columns]

[71482 71395 72266 ... 65741 54984 55102]

In [7]:
GetSQLTest['start'] =  pd.to_datetime(GetSQLTest['start'], format='%Y-%m-%d %H:%M:%S')
GetSQLTest["sd"] = GetSQLTest['start'].dt.date.copy()
GetSQLTest['sm'] = [s.replace(day=1) for s in GetSQLTest['start'].dt.date].copy()

In [35]:
GetSQLTest.head()

   power               start          sd          sm
0  71482 2021-03-21 00:00:00  2021-03-21  2021-03-01
1  71395 2021-03-21 00:30:00  2021-03-21  2021-03-01
2  72266 2021-03-21 01:00:00  2021-03-21  2021-03-01
3  72069 2021-03-21 01:30:00  2021-03-21  2021-03-01
4  74632 2021-03-21 02:00:00  2021-03-21  2021-03-01

In [41]:
(
    GetSQLTest[["sm","sd","power"]].groupby(["sm","sd"],as_index = False).sum().query("sm == @m")[["sd","power"]]
).head(10)

           sd    power
0  2021-03-21  3723869
1  2021-03-22  3123780
2  2021-03-23  2850371
3  2021-03-24  2871810
4  2021-03-25  2665381
5  2021-03-26  2597496
6  2021-03-27  2826155
7  2021-03-28  2898445
8  2021-03-29  3540989
9  2021-03-30  3175540

In [88]:
Annual = GetSQLTest[["sm","power"]].groupby('sm',as_index = False).sum()
fig = figure(title = "Total Line Graph",x_axis_type = "datetime")
fig2=fig.square(source = Annual,x="sm",y="power",size = 20,color='red')
fig1 = fig.line(source = Annual,x="sm",y="power",line_width = 2,color='red')
hover = HoverTool(tooltips=[('Timestamp', '@sm{%m-%d-%Y}'), ('power',"@power")],formatters={'@sm': 'datetime'},)
fig.add_tools(hover)
callback = CustomJS(args=dict(p=p), code="""
                      var a = cb_obj.value;
                      p.x_range = a;
                      p.change.emit();
                      """)

range_slider = from bokeh.models.widgets import DateRangeSlider
range_slider.js_on_change('value', callback)

AttributeError: unexpected attribute 'x_axis' to Figure, possible attributes are above, align, aspect_ratio, aspect_scale, background, background_fill_alpha, background_fill_color, below, border_fill_alpha, border_fill_color, center, css_classes, disabled, extra_x_ranges, extra_x_scales, extra_y_ranges, extra_y_scales, frame_height, frame_width, height, height_policy, hidpi, inner_height, inner_width, js_event_callbacks, js_property_callbacks, left, lod_factor, lod_interval, lod_threshold, lod_timeout, margin, match_aspect, max_height, max_width, min_border, min_border_bottom, min_border_left, min_border_right, min_border_top, min_height, min_width, name, outer_height, outer_width, outline_line_alpha, outline_line_cap, outline_line_color, outline_line_dash, outline_line_dash_offset, outline_line_join, outline_line_width, output_backend, plot_height, plot_width, renderers, reset_policy, right, sizing_mode, subscribed_events, syncable, tags, title, title_location, toolbar, toolbar_location, toolbar_sticky, visible, width, width_policy, x_range, x_scale, y_range or y_scale

In [40]:
m = GetSQLTest["sm"].unique()[0]
Month = GetSQLTest[["sm","sd","power"]].groupby(["sm","sd"],as_index = False).sum().query("sm == @m")[["sd","power"]]
pig = figure(title = "Total Month Line Graph",x_axis_type = "datetime")
pig1 = pig.line(source = Month,x="sd",y="power",line_width = 2,color='navy')
pig.add_tools(HoverTool(renderers=[pig1], tooltips=[('power',"@power")],mode='vline'))

In [97]:
d = GetSQLTest["sd"].unique()[0]
Daily = GetSQLTest[['start',"sd","power"]].query("sd == @d")[["start", "power"]]
dig = figure(title = "Total Day Line Graph",x_axis_type = "datetime")
dig1 = dig.line(source = Daily,x="start",y="power",line_width = 2,color='navy')
dig.add_tools(HoverTool(renderers=[dig1], tooltips=[('power',"@power")],mode='vline'))

In [87]:

show(row(column(fig),spinner))

In [25]:
from bokeh.layouts import column,row
from bokeh.models import CustomJS, ColumnDataSource, Slider
from bokeh.plotting import figure, output_file, show

output_file("callback.html")

x = [x*0.005 for x in range(0, 200)]
y = x

source = ColumnDataSource(data=dict(x=x, y=y))

plot = figure(plot_width=400, plot_height=400)
plot.line('x', 'y', source=source, line_width=3, line_alpha=0.6)

callback = CustomJS(args=dict(source=source), code="""
        var data = source.get('data');
        var f = cb_obj.get('value')
        x = data['x']
        y = data['y']
        for (i = 0; i < x.length; i++) {
            y[i] = Math.pow(x[i], f)
        }
        source.trigger('change');
    """)

slider = Slider(start=0.1, end=4, value=1, step=.1, title="power", callback=callback)

layout = column(slider, plot)

show(layout)

AttributeError: unexpected attribute 'callback' to Slider, similar attributes are js_event_callbacks